@model BankProject.DtoLayer.Dtos.AppUserDtos.ChangePassworDto
@{
    ViewData["Title"] = "ProfilePasswordChange";
    Layout = "~/Areas/CustomerPanel/Views/Shared/_CustomerPanelLayout.cshtml";
}

<form method="post">
    <label asp-for="CurrentPassword">Şifren</label>
    <input type="password" class="form-control" asp-for="CurrentPassword" />

    <label asp-for="NewPassword">Yeni şifre</label>
    <input type="password" class="form-control" asp-for="NewPassword" />

    <label asp-for="NewPasswordConfirm">Yeni şifre (Tekrar)</label>
    <input type="password" class="form-control" asp-for="NewPasswordConfirm" />

    <button type="submit" class="btn btn-primary">Şifreni güncelle</button>
</form>
